# © Broadcom. All Rights Reserved.
# The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-2-Clause

/*
    DESCRIPTION:
    Ubuntu Server 24.04 LTS build variables.
    Packer Plugin for VMware vSphere: 'vsphere-iso' builder.
*/

// Guest Operating System Metadata
vm_guest_os_name    = "ubuntu"
vm_guest_os_version = "24.04-lts"

// Virtual Machine Guest Operating System Setting
vm_guest_os = "l26"

// Virtual Machine Hardware Settings
vm_bios = "seabios"

// Removable Media Settings
iso_path       = "local:iso/"
iso_file                 = "ubuntu-24.04.2-live-server-amd64.iso"
